*{
    font-family: "open sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: #125E8A;
}

h1{
    background-color: #2B2D42;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-weight: 500;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    transition: all ease 0.3s;
}

/* .choice:hover{
    cursor: pointer;
    background-color: #2B2D42;
} */

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 0.45rem;
    transition: all ease 0.3s;
}

img:hover{
    box-shadow: 0 0 3rem #F7E733;
    cursor: pointer;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    color: #fff;
}

#user-score , #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #2B2D42;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}